USE [master]
GO
/****** Object:  Database [QuanLyHieuSach]    Script Date: 11/13/2023 7:58:13 PM ******/
CREATE DATABASE [QuanLyHieuSach]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyHieuSach].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyHieuSach]
GO
/****** Object:  Table [dbo].[CaLamViec]    Script Date: 11/13/2023 7:58:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaLamViec](
	[CaID] [nvarchar](50) NOT NULL,
	[TenCa] [nvarchar](50) NULL,
	[ThoiGianBatDau] [time](7) NOT NULL,
	[ThoiGianKetCa] [time](7) NOT NULL,
 CONSTRAINT [PK_CaLamViec] PRIMARY KEY CLUSTERED 
(
	[CaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 11/13/2023 7:58:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[HoaDonID] [nvarchar](50) NOT NULL,
	[SanPhamID] [nvarchar](50) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [float] NOT NULL,
 CONSTRAINT [PK_ChiTietHoaDon] PRIMARY KEY CLUSTERED 
(
	[HoaDonID] ASC,
	[SanPhamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChucVu]    Script Date: 11/13/2023 7:58:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucVu](
	[ChucVuID] [nvarchar](50) NOT NULL,
	[TenChucVu] [nchar](10) NULL,
 CONSTRAINT [PK_LoaiNhanVien] PRIMARY KEY CLUSTERED 
(
	[ChucVuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 11/13/2023 7:58:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[HoaDonID] [nvarchar](50) NOT NULL,
	[NgayLapHD] [date] NOT NULL,
	[NhanVienID] [nvarchar](50) NOT NULL,
	[KhachHangID] [nvarchar](50) NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[HoaDonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 11/13/2023 7:58:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[KhachHangID] [nvarchar](50) NOT NULL,
	[TenKhachHang] [nvarchar](200) NOT NULL,
	[SoDienThoai] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](250) NULL,
	[DiemTL] [int] NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[KhachHangID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LoaiSanPham]    Script Date: 11/13/2023 7:58:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSanPham](
	[LoaiSanPhamID] [nvarchar](50) NOT NULL,
	[TenLoaiSanPham] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LoaiSanPham] PRIMARY KEY CLUSTERED 
(
	[LoaiSanPhamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LoaiVanPhongPham]    Script Date: 11/13/2023 7:58:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiVanPhongPham](
	[LoaiVanPhongPhamID] [nvarchar](50) NOT NULL,
	[TenVanPhongPham] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_LoaiVanPhongPham] PRIMARY KEY CLUSTERED 
(
	[LoaiVanPhongPhamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 11/13/2023 7:58:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[NhaCungCapID] [nvarchar](50) NOT NULL,
	[TenNhaCungCap] [nvarchar](50) NOT NULL,
	[SanPhamCungCap] [nvarchar](50) NOT NULL,
	[SoDienThoai] [nchar](10) NULL,
	[Email] [nchar](10) NULL,
	[DiaChi] [nvarchar](200) NULL,
 CONSTRAINT [PK_NhaCungCap] PRIMARY KEY CLUSTERED 
(
	[NhaCungCapID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 11/13/2023 7:58:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[NhanVienID] [nvarchar](50) NOT NULL,
	[HoTenNhanVien] [nvarchar](200) NOT NULL,
	[CCCD] [nvarchar](50) NULL,
	[GioiTinh] [bit] NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[SoDienThoai] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
	[DiaChi] [nvarchar](50) NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
	[HinhAnh] [nvarchar](200) NOT NULL,
	[ChucVu] [nvarchar](50) NOT NULL,
	[CaLamViec] [nvarchar](50) NOT NULL,
	[TaiKhoan] [nvarchar](50) NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[NhanVienID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhaXuatBan]    Script Date: 11/13/2023 7:58:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaXuatBan](
	[NhaXuatBan] [nvarchar](50) NOT NULL,
	[TenNhaXuatBan] [nvarchar](250) NOT NULL,
	[Email] [nchar](200) NULL,
	[SoDienThoai] [nchar](20) NULL,
	[DiaChi] [nvarchar](250) NULL,
 CONSTRAINT [PK_NhaXuatBan] PRIMARY KEY CLUSTERED 
(
	[NhaXuatBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sach]    Script Date: 11/13/2023 7:58:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sach](
	[SachID] [nvarchar](50) NOT NULL,
	[TenSach] [nvarchar](200) NOT NULL,
	[TacGia] [nvarchar](50) NOT NULL,
	[NhaXuatBan] [nvarchar](50) NOT NULL,
	[NamXuatBan] [int] NOT NULL,
	[SoTrang] [int] NOT NULL,
	[TheLoai] [nvarchar](50) NOT NULL,
	[LoaiSanPham] [nvarchar](50) NOT NULL,
	[NhaCungCap] [nvarchar](50) NOT NULL,
	[SoLuongTon] [int] NOT NULL,
	[DonGia] [float] NOT NULL,
	[MoTa] [nvarchar](250) NOT NULL,
	[TinhTrang] [nvarchar](50) NULL,
	[HinhAnh] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Sach] PRIMARY KEY CLUSTERED 
(
	[SachID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sach_TacGia]    Script Date: 11/13/2023 7:58:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sach_TacGia](
	[SachID] [nvarchar](50) NOT NULL,
	[TacGiaID] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SachID] ASC,
	[TacGiaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sach_TheLoai]    Script Date: 11/13/2023 7:58:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sach_TheLoai](
	[SachID] [nvarchar](50) NOT NULL,
	[TheLoaiID] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SachID] ASC,
	[TheLoaiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TacGia]    Script Date: 11/13/2023 7:58:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TacGia](
	[TacGiaID] [nvarchar](50) NOT NULL,
	[TenTacGia] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_TacGia] PRIMARY KEY CLUSTERED 
(
	[TacGiaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 11/13/2023 7:58:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](50) NOT NULL,
	[MaXacNhan] [nvarchar](50) NULL,
	[TrangThai] [nvarchar](50) NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TheLoai]    Script Date: 11/13/2023 7:58:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheLoai](
	[TheLoaiID] [nvarchar](50) NOT NULL,
	[TenTheLoai] [nvarchar](250) NULL,
 CONSTRAINT [PK_TheLoai] PRIMARY KEY CLUSTERED 
(
	[TheLoaiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ThoiGianHoatDong]    Script Date: 11/13/2023 7:58:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThoiGianHoatDong](
	[ThoiGianHoatDongID] [nvarchar](50) NOT NULL,
	[NhanVienID] [nvarchar](50) NOT NULL,
	[NgayDangNhap] [date] NOT NULL,
	[ThoiGianDangNhap] [time](7) NOT NULL,
	[ThoiGianDangXuat] [time](7) NULL,
	[ThoiGianDaLam] [time](7) NULL,
 CONSTRAINT [PK_ThoiGianHoatDong] PRIMARY KEY CLUSTERED 
(
	[ThoiGianHoatDongID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VanPhongPham]    Script Date: 11/13/2023 7:58:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VanPhongPham](
	[VanPhongPhamID] [nvarchar](50) NOT NULL,
	[TenVanPhongPham] [nvarchar](200) NOT NULL,
	[LoaiSanPham] [nvarchar](50) NOT NULL,
	[NhaCungCap] [nvarchar](50) NOT NULL,
	[SoLuongTon] [int] NOT NULL,
	[DonGia] [float] NOT NULL,
	[MoTa] [nvarchar](250) NOT NULL,
	[TinhTrang] [bit] NOT NULL,
	[HinhAnh] [nvarchar](250) NOT NULL,
	[XuatXu] [nvarchar](50) NOT NULL,
	[NamSanXuat] [int] NOT NULL,
	[ChatLieu] [nvarchar](50) NOT NULL,
	[ThuongHieu] [nvarchar](250) NOT NULL,
	[LoaiVanPhongPham] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_VanPhongPham] PRIMARY KEY CLUSTERED 
(
	[VanPhongPhamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[XuatXu]    Script Date: 11/13/2023 7:58:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XuatXu](
	[XuatXuID] [nvarchar](50) NOT NULL,
	[TenQuocGia] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_XuatXu] PRIMARY KEY CLUSTERED 
(
	[XuatXuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[CaLamViec] ([CaID], [TenCa], [ThoiGianBatDau], [ThoiGianKetCa]) VALUES (N'Ca01', N'Ca sáng', CAST(N'06:00:00' AS Time), CAST(N'13:59:59' AS Time))
INSERT [dbo].[CaLamViec] ([CaID], [TenCa], [ThoiGianBatDau], [ThoiGianKetCa]) VALUES (N'Ca02', N'Ca chiều', CAST(N'14:00:00' AS Time), CAST(N'21:59:59' AS Time))
INSERT [dbo].[ChucVu] ([ChucVuID], [TenChucVu]) VALUES (N'NV', N'Nhân viên ')
INSERT [dbo].[ChucVu] ([ChucVuID], [TenChucVu]) VALUES (N'QL', N'Quản lý   ')
INSERT [dbo].[LoaiSanPham] ([LoaiSanPhamID], [TenLoaiSanPham]) VALUES (N'LSP000001', N'Sách')
INSERT [dbo].[LoaiSanPham] ([LoaiSanPhamID], [TenLoaiSanPham]) VALUES (N'LSP000002', N'Văn phòng phẩm')
INSERT [dbo].[NhaCungCap] ([NhaCungCapID], [TenNhaCungCap], [SanPhamCungCap], [SoDienThoai], [Email], [DiaChi]) VALUES (N'NSPN', N'Nhà sách Phương Nam', N'Sách', NULL, NULL, NULL)
INSERT [dbo].[NhanVien] ([NhanVienID], [HoTenNhanVien], [CCCD], [GioiTinh], [NgaySinh], [SoDienThoai], [Email], [DiaChi], [TrangThai], [HinhAnh], [ChucVu], [CaLamViec], [TaiKhoan]) VALUES (N'232108', N'Ngô Thái Hiệp', N'052203008592', 1, CAST(N'2003-12-28' AS Date), N'0374313529', N'ngohiep1750@gmail.com', N'Tỉnh Bình Định-Huyện Phù Cát-Xã Cát Hanh', N'Đang làm', N'D:\MON\PTUD\DoAn1 - Copy\QuanLyHieuSach\src\IMG\z4776091937163_3eb03bdcabc2427f64da447f879600ac.jpg', N'QL', N'', N'232108')
INSERT [dbo].[NhanVien] ([NhanVienID], [HoTenNhanVien], [CCCD], [GioiTinh], [NgaySinh], [SoDienThoai], [Email], [DiaChi], [TrangThai], [HinhAnh], [ChucVu], [CaLamViec], [TaiKhoan]) VALUES (N'232761', N'Phạm Anh Khoa', N'052203008592', 1, CAST(N'2003-01-01' AS Date), N'0787945874', N'anhkhoa22022003@gmail.com', N'Tỉnh Cao Bằng', N'Đang làm', N'D:\MON\PTUD\DoAn1\QuanLySach\QuanLyHieuSach\src\IMG\anhSachMacDinh.png', N'QL', N'', N'232761')
INSERT [dbo].[NhanVien] ([NhanVienID], [HoTenNhanVien], [CCCD], [GioiTinh], [NgaySinh], [SoDienThoai], [Email], [DiaChi], [TrangThai], [HinhAnh], [ChucVu], [CaLamViec], [TaiKhoan]) VALUES (N'234397', N'Nguyễn Văn Bảo', N'052203878451', 1, CAST(N'2003-12-02' AS Date), N'0978451256', N'baonguyen@gmail.com', N'', N'Đang làm', N'C:\Users\FPTSHOP\Downloads\message.png', N'NV', N'Ca02', N'234397')
INSERT [dbo].[NhaXuatBan] ([NhaXuatBan], [TenNhaXuatBan], [Email], [SoDienThoai], [DiaChi]) VALUES (N'NXBKD', N'Nhà Xuất Bản Kim Đồng', NULL, NULL, NULL)
INSERT [dbo].[NhaXuatBan] ([NhaXuatBan], [TenNhaXuatBan], [Email], [SoDienThoai], [DiaChi]) VALUES (N'NXBT', N'Nhà Xuất Bản Trẻ', NULL, NULL, NULL)
INSERT [dbo].[Sach] ([SachID], [TenSach], [TacGia], [NhaXuatBan], [NamXuatBan], [SoTrang], [TheLoai], [LoaiSanPham], [NhaCungCap], [SoLuongTon], [DonGia], [MoTa], [TinhTrang], [HinhAnh]) VALUES (N'Sach0003', N'Toi Thay Hoa Vang Tren Co Xanh', N'Nguyen Nhat Anh', N'NXBT', 2010, 200, N'Ngôn Tinh', N'LSP000001', N'NSPN', 100, 50000, N'Mot cuon sach hay', N'Moi', N'hoavang.jpg')
INSERT [dbo].[Sach] ([SachID], [TenSach], [TacGia], [NhaXuatBan], [NamXuatBan], [SoTrang], [TheLoai], [LoaiSanPham], [NhaCungCap], [SoLuongTon], [DonGia], [MoTa], [TinhTrang], [HinhAnh]) VALUES (N'Sach0004', N'Toi Thay Hoa Vang Tren Co Xanh', N'Nguyen Nhat Anh,T? H?u', N'NXBT', 2010, 200, N'Ngôn Tinh', N'LSP000001', N'NSPN', 100, 50000, N'Mot cuon sach hay', N'Moi', N'hoavang.jpg')
INSERT [dbo].[Sach] ([SachID], [TenSach], [TacGia], [NhaXuatBan], [NamXuatBan], [SoTrang], [TheLoai], [LoaiSanPham], [NhaCungCap], [SoLuongTon], [DonGia], [MoTa], [TinhTrang], [HinhAnh]) VALUES (N'Sach0005', N'Toi Thay Hoa Vang Tren Co Xanh', N'Nguyen Nhat Anh,T? H?u', N'NXBT', 2010, 200, N'Ngôn Tinh,tự sự', N'LSP000001', N'NSPN', 100, 50000, N'Mot cuon sach hay', N'Moi', N'hoavang.jpg')
INSERT [dbo].[Sach_TheLoai] ([SachID], [TheLoaiID]) VALUES (N'Sach001', N'NT')
INSERT [dbo].[Sach_TheLoai] ([SachID], [TheLoaiID]) VALUES (N'Sach001', N'TS')
INSERT [dbo].[Sach_TheLoai] ([SachID], [TheLoaiID]) VALUES (N'Sach002', N'NT')
INSERT [dbo].[TacGia] ([TacGiaID], [TenTacGia]) VALUES (N'TG1', N'Tố Hữu')
INSERT [dbo].[TacGia] ([TacGiaID], [TenTacGia]) VALUES (N'TG2', N'Nguyen Nhat Anh')
INSERT [dbo].[TaiKhoan] ([TenDangNhap], [MatKhau], [MaXacNhan], [TrangThai]) VALUES (N'232108', N'145236', N'', N'Đã đăng xuất')
INSERT [dbo].[TaiKhoan] ([TenDangNhap], [MatKhau], [MaXacNhan], [TrangThai]) VALUES (N'232761', N'122212', N'', N'Đã đăng xuất')
INSERT [dbo].[TaiKhoan] ([TenDangNhap], [MatKhau], [MaXacNhan], [TrangThai]) VALUES (N'233294', N'123456', N'', N'Đã đăng xuất')
INSERT [dbo].[TheLoai] ([TheLoaiID], [TenTheLoai]) VALUES (N'NT', N'Ngôn Tinh')
INSERT [dbo].[TheLoai] ([TheLoaiID], [TenTheLoai]) VALUES (N'TS', N'Tự sự')
INSERT [dbo].[TheLoai] ([TheLoaiID], [TenTheLoai]) VALUES (N'TT', N'Tiểu thuyết')
INSERT [dbo].[ThoiGianHoatDong] ([ThoiGianHoatDongID], [NhanVienID], [NgayDangNhap], [ThoiGianDangNhap], [ThoiGianDangXuat], [ThoiGianDaLam]) VALUES (N'0211231717232108', N'232108', CAST(N'2023-11-02' AS Date), CAST(N'17:17:11' AS Time), CAST(N'21:06:21' AS Time), CAST(N'01:33:17' AS Time))
INSERT [dbo].[ThoiGianHoatDong] ([ThoiGianHoatDongID], [NhanVienID], [NgayDangNhap], [ThoiGianDangNhap], [ThoiGianDangXuat], [ThoiGianDaLam]) VALUES (N'0311230007232108', N'232108', CAST(N'2023-11-03' AS Date), CAST(N'00:07:35' AS Time), CAST(N'23:57:44' AS Time), CAST(N'02:21:11' AS Time))
INSERT [dbo].[ThoiGianHoatDong] ([ThoiGianHoatDongID], [NhanVienID], [NgayDangNhap], [ThoiGianDangNhap], [ThoiGianDangXuat], [ThoiGianDaLam]) VALUES (N'0311230008232761', N'232761', CAST(N'2023-11-03' AS Date), CAST(N'00:08:05' AS Time), CAST(N'00:08:08' AS Time), CAST(N'00:00:02' AS Time))
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_HoaDon] FOREIGN KEY([HoaDonID])
REFERENCES [dbo].[HoaDon] ([HoaDonID])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_HoaDon]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_Sach] FOREIGN KEY([SanPhamID])
REFERENCES [dbo].[Sach] ([SachID])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_Sach]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_VanPhongPham] FOREIGN KEY([SanPhamID])
REFERENCES [dbo].[VanPhongPham] ([VanPhongPhamID])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_VanPhongPham]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([KhachHangID])
REFERENCES [dbo].[KhachHang] ([KhachHangID])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NhanVien] FOREIGN KEY([NhanVienID])
REFERENCES [dbo].[NhanVien] ([NhanVienID])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NhanVien]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK_Sach_LoaiSanPham] FOREIGN KEY([LoaiSanPham])
REFERENCES [dbo].[LoaiSanPham] ([LoaiSanPhamID])
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK_Sach_LoaiSanPham]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK_Sach_NhaCungCap] FOREIGN KEY([NhaCungCap])
REFERENCES [dbo].[NhaCungCap] ([NhaCungCapID])
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK_Sach_NhaCungCap]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK_Sach_NhaXuatBan] FOREIGN KEY([NhaXuatBan])
REFERENCES [dbo].[NhaXuatBan] ([NhaXuatBan])
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK_Sach_NhaXuatBan]
GO
ALTER TABLE [dbo].[Sach_TacGia]  WITH CHECK ADD FOREIGN KEY([SachID])
REFERENCES [dbo].[Sach] ([SachID])
GO
ALTER TABLE [dbo].[Sach_TacGia]  WITH CHECK ADD FOREIGN KEY([TacGiaID])
REFERENCES [dbo].[TacGia] ([TacGiaID])
GO
ALTER TABLE [dbo].[Sach_TheLoai]  WITH CHECK ADD FOREIGN KEY([SachID])
REFERENCES [dbo].[Sach] ([SachID])
GO
ALTER TABLE [dbo].[Sach_TheLoai]  WITH CHECK ADD FOREIGN KEY([TheLoaiID])
REFERENCES [dbo].[TheLoai] ([TheLoaiID])
GO
ALTER TABLE [dbo].[ThoiGianHoatDong]  WITH CHECK ADD  CONSTRAINT [FK_ThoiGianHoatDong_NhanVien] FOREIGN KEY([NhanVienID])
REFERENCES [dbo].[NhanVien] ([NhanVienID])
GO
ALTER TABLE [dbo].[ThoiGianHoatDong] CHECK CONSTRAINT [FK_ThoiGianHoatDong_NhanVien]
GO
ALTER TABLE [dbo].[VanPhongPham]  WITH CHECK ADD  CONSTRAINT [FK_VanPhongPham_LoaiSanPham] FOREIGN KEY([LoaiSanPham])
REFERENCES [dbo].[LoaiSanPham] ([LoaiSanPhamID])
GO
ALTER TABLE [dbo].[VanPhongPham] CHECK CONSTRAINT [FK_VanPhongPham_LoaiSanPham]
GO
ALTER TABLE [dbo].[VanPhongPham]  WITH CHECK ADD  CONSTRAINT [FK_VanPhongPham_LoaiVanPhongPham] FOREIGN KEY([LoaiVanPhongPham])
REFERENCES [dbo].[LoaiVanPhongPham] ([LoaiVanPhongPhamID])
GO
ALTER TABLE [dbo].[VanPhongPham] CHECK CONSTRAINT [FK_VanPhongPham_LoaiVanPhongPham]
GO
ALTER TABLE [dbo].[VanPhongPham]  WITH CHECK ADD  CONSTRAINT [FK_VanPhongPham_NhaCungCap] FOREIGN KEY([NhaCungCap])
REFERENCES [dbo].[NhaCungCap] ([NhaCungCapID])
GO
ALTER TABLE [dbo].[VanPhongPham] CHECK CONSTRAINT [FK_VanPhongPham_NhaCungCap]
GO
ALTER TABLE [dbo].[VanPhongPham]  WITH CHECK ADD  CONSTRAINT [FK_VanPhongPham_XuatXu] FOREIGN KEY([XuatXu])
REFERENCES [dbo].[XuatXu] ([XuatXuID])
GO
ALTER TABLE [dbo].[VanPhongPham] CHECK CONSTRAINT [FK_VanPhongPham_XuatXu]
GO
USE [master]
GO
